wagtail~=2.10.2
Django~=3.1.2

# settings
django-classy-settings~=2.1.1

# misc & extensions
django-extensions~=3.0.9

# database/postgresql
dj-database-url~=0.5.0
psycopg2-binary~=2.8.6

# redis support
django-redis~=4.12.1

# menus support
wagtailmenus~=3.0.2

# nice widget utilities
#django-widget-tweaks~=1.4.8

# node_modules -> static files
django-npm~=1.0.0
# static scss -> .css
libsass~=0.20.1
django-sass~=1.0.0
# compress/minify/uglify output + supported filters
django-compressor~=2.4
calmjs~=3.4.1
csscompressor~=0.9.5

# for media in aws-s3 or linode-object store
#django-storages~=1.10
#boto3~=1.14.56
# sentry.io monitoring
#sentry-sdk~=0.17.3
