{% extends 'base.html' %}
{% load sitetree static %}

{% block page_title %}
<title>{% sitetree_page_title from view.sitetree %}</title>
{% endblock page_title %}

{% block description %}
  <meta name="description" content="{% sitetree_page_description from view.sitetree %}">
{% endblock description %}

{% block body_class %}columns-2{% endblock %}

{% block fonts %}
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
{% endblock fonts %}
{% block extra_fonts %}{% endblock extra_fonts %}

{% block global_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/rjf.css' %}">
{% endblock global_styles %}

{% block navigation-top %}{% endblock navigation-top %}
{% block header %}
  {% include 'core/partials/_header.html' %}
  {% block messages %}{% if messages %}
      <div class="row">
        <div class="col-sm-12 col-md-offset-1 col-md-10">
        {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
    {% endif %}{% endblock messages %}
{% endblock header %}

{% block content-outer-start %}<div class="container">{% endblock content-outer-start %}
{% block content-outer-end %}</div>{% endblock content-outer-end %}

{% block footer %}{% include 'core/partials/_footer.html' %}{% endblock footer %}

{% block global_scripts %}
      <script type="text/javascript" src="{% static 'site/scripts/bootstrap.js' %}"></script>
      <script type="text/javascript" src="{% static 'site/scripts/rjf.js' %}"></script>
{% endblock global_scripts %}

